<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ title or "Mood Analyzer" }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&family=Rubik+Puddles&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <header>
    <h1>moodie :(:</h1>
    <nav>
      <a href="{{ url_for('log') }}">log</a>
      <a href="{{ url_for('trends') }}">trends</a>
    </nav>
  </header>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="flash">{{ messages[0] }}</div>
  {% endif %}
  {% endwith %}

  <div class="card">
    {% block content %}{% endblock %}
  </div>
</body>

</html>